<main>
  <form (submit)="submit()" [formGroup]="formData">
    <section>
      <h1>Input, Button and Table Components by Gustavo Letério</h1>
      <span>These components were made for solving design problems in a project, I have learned a lot during the
        process.</span>
      <span>Inputs are capable of:</span>
      <ul>
        <li>Emitting Values;</li>
        <li>Can be used with Form Directives (using formControlName in the component tag);</li>
        <li>Receiving Dynamic Masks;</li>
      </ul>
      <div class="card">
        <app-title text="Input Components"></app-title>
        <span>
          This component is a collection of inputs, they are made to support the visual of the project, offering the
          values after use.
        </span>
        <div class="inputGrid">
          <app-input type="text" label="Text Input" [placeholder]="'Placeholder'" formControlName="textInputOne"
            name="textInputOne"></app-input>
          <app-input type="text" label="Text Input" [placeholder]="'Placeholder'"
            [setValue]="'All components can preset a inital value using [setValue]'" formControlName="textInputTwo"
            name="textInputTwo"></app-input>
          <app-input type="search" label="Search Input" [placeholder]="'Placeholder'" formControlName="searchInput"
            name="searchInput"></app-input>
          <app-input type="date" label="Date Input" [placeholder]="'Placeholder'" formControlName="dateInput"
            name="dateInput"></app-input>
          <app-input type="file" label="File Input" [placeholder]="'Select a File'" formControlName="fileInput"
            name="fileInput"></app-input>
        </div>
      </div>
      <div class="card">
        <app-title text="Masked Inputs"></app-title>
        <span>These inputs are made to support different kind of masks, using the lib NGX-MASK.</span>
        <div class="inputGrid">
          <app-input type="money" label="Money Mask Preset Input" formControlName="moneyInput" name="moneyInput">
          </app-input>
          <!--Preset mask-->
          <app-input type="text" label="Dynamic Number Input" [mask]="'99999'" placeholder="placeholder"
            formControlName="dynamicNumberInput" name="dynamicNumberInput"></app-input>
          <!--Dynamic mask-->
          <app-input type="text" label="Random Doc Input" [mask]="'000.000.000-00'" placeholder="placeholder"
            formControlName="randomDocInput" name="randomDocInput">
          </app-input>
          <!--Dynamic mask-->
          <app-input type="text" label="Multiple Dynamic Mask Input" [mask]="'(00)0000-0000||(00)00000-0000'"
            placeholder="placeholder" formControlName="multipleDynMaskInput" name="multipleDynMaskInput">
          </app-input>
          <!--Multiple Dynamic mask-->
        </div>
      </div>
      <div class="card">
        <app-title text="Checkboxes and Radio Buttons"></app-title>
        <span>
          This collection of inputs can be used with an array of options, each input show every item for a radio
          selection, a group can be created and separated by its name.
        </span>
        <div class="inputGrid">
          <div>
            <app-input type="radio" [items]="['Radio 1','Radio 2','Radio 3']" [setValue]="'Radio 1'" label="Radio Input"
              formControlName="radioInput" name="radioInput">
            </app-input>
            <app-input type="radio" [items]="['Radio 4','Radio 5','Radio 6']" label="Radio Input" flexDirection="card"
              formControlName="radioInput" name="radioInput">
            </app-input>
          </div>
          <div>
            <app-input type="checkbox" [items]="['Checkbox 1','Checkbox 2','Checkbox 3']" label="Checkbox Input"
              formControlName="checkboxInput" name="checkboxInput"></app-input>
            <app-input type="checkbox" [items]="['Checkbox 4','Checkbox 5','Checkbox 6']" label="Checkbox Input"
              flexDirection="card" formControlName="checkboxInput" name="checkboxInput"></app-input>
          </div>
        </div>
      </div>
      <div class="card">

        <app-title text="Enabled Buttons"></app-title>
        <span>The button component can be stylized by writing a color preset.</span>
        <div class="gridButtons">
          <app-button *ngFor="let color of buttonColors" text="Button" color="{{color}}" type="submit"
            [value]="'buttonValue'" icon="../assets/analista.svg"></app-button>
        </div>
      </div>
      <div class="card">
        <app-title text="Disabled Buttons"></app-title>
        <span>They could be disabled.</span>
        <div class="gridButtons">
          <app-button *ngFor="let color of buttonColors" text="Button" color="{{color}}" type="submit" [disabled]="true"
            [value]="'buttonValue'"></app-button>
        </div>
      </div>
      <div class="card">
        <app-title text="dropdown Buttons"></app-title>
        <span>The button component can represent a dropdown, this form of button shows a list of items, that can be
          selected and returns the name of the option clicked.</span>
        <div class="gridButtons">
          <app-button type="dropdown" [icon]="'../assets/options.svg'" color="white"
            [options]="['Option 1','Option 2','Option 3']" (clickEmitter)="buttonDropdownHandler($event)"
            [dropdownPos]="{fixTop:false,fixRight:false}">
          </app-button>
          <app-button type="dropdown" [icon]="'../assets/options.svg'" color="white"
            [options]="['Option 1','Option 2','Option 3']" (clickEmitter)="buttonDropdownHandler($event)"
            [dropdownPos]="{fixTop:false,fixRight:true}">
          </app-button>
          <app-button type="dropdown" [icon]="'../assets/options.svg'" color="white"
            [options]="['Option 1','Option 2','Option 3']" (clickEmitter)="buttonDropdownHandler($event)"
            [dropdownPos]="{fixTop:true,fixRight:false}">
          </app-button>
          <app-button type="dropdown" [icon]="'../assets/options.svg'" color="white"
            [options]="['Option 1','Option 2','Option 3']" (clickEmitter)="buttonDropdownHandler($event)"
            [dropdownPos]="{fixTop:true,fixRight:true}">
          </app-button>
        </div>
      </div>
      <div class="card">
        <app-title text="Select Component"></app-title>
        <span>The select component is a design alternative to the default select. Its options are defined by an
          array.</span>
        <div class="inputGrid">
          <app-select label="Select Component" placeholder="placeholder" [options]="['Option 1','Option 2','Option 3']"
            formControlName="selectOne" name="selectOne">
          </app-select>
          <app-select label="Select with a value selected" placeholder="placeholder"
            [options]="['Option 1','Option 2','Option 3']" [setValue]="'Option 1'" formControlName="selectTwo"
            name="selectTwo"></app-select>
        </div>
      </div>
      <div class="card">
        <app-title text="Textarea component"></app-title>
        <span>The textarea component is a design alternative to the default textarea. He offers a counter if it have a
          maximum limit of characters.</span>
        <div class="inputGrid">
          <app-textarea label="Disabled Textarea Component" placeholder="placeholder" [disabled]="true">
          </app-textarea>
          <app-textarea label="Textarea Component" placeholder="placeholder" [length]="{max:200}"
            [setValue]="'A inital value can be setted with [setValue]'" formControlName="textarea" name="textarea">
          </app-textarea>
        </div>
      </div>
      <app-button text="Submit" color="wine" type="submit"></app-button>
    </section>
  </form>
  <section>
    <h1>Table Component</h1>
    <span>
      The table component is more complex than the others, but it consists of a dynamic table that can receive any
      kind of data with preset columns. It is divided into two objects:
    </span>
    <span style="padding-left:2rem">Config:</span>
    <span style="padding-left:4rem">
      The table config is an object that represents the columns. You can define how many
      columns are needed for your requirements. There is an interface that represents the needs, and you can find the
      details in the "/src/Components/table/Interfaces/tableConfig.ts" archive. It is all commented.
    </span>
    <br>
    <span style="padding-left:2rem">Data:</span>
    <span style="padding-left:4rem">
      The data is an array of objects, and their keys are not known. However, for each
      type of item, there is a correct way to use them, and they are described in the tableConfig.ts file. The 'obj' key
      should be the same as the config 'objName' to be shown.
    </span>
    <div class="card">
      <app-title text="Dynamic Table"></app-title>
      <app-table [data]="nonExpandableTable.data" [config]="nonExpandableTable.tableConfig"></app-table>
    </div>
    <span style="padding-left:2rem;margin-top:2rem">Expandable Table:</span>
    <span style="padding-left:4rem;margin-bottom:2rem">
      The expandable table requires a bunch of new data, namely: finalDate, stage, openingDate, vacancyName, level,
      remuneration, enterprise, responsibles, guarantee, and stages. Each of them has its own characteristics.
    </span>
    <div class="card">
      <app-title text="Expandable Dynamic Table"></app-title>
      <app-table [data]="expandableTable.data" [config]="expandableTable.tableConfig"></app-table>
    </div>
  </section>
</main>
